<%- include ("includes/header") %>

<div class="container-fluid">
   <div class="video-block section-padding">
      
      <div class="row">
        <div class="col-md-9" style="margin-top: 50px;">
            <h1 class="text-center">Pro Version:</h1>
        </div>
      </div>

      <div class="row" style="color: black; font-size: 20px; margin-top: 50px; margin-bottom: 50px;">

        <div class="col-md-7 offset-md-2">
          <ol>
              <li>All the features of free version + </li>
              <li>Email Verification during Signup</li>
              <li>Forgot Password feature</li>
              <li>Like / Dislike a Video</li>
              <li>Subscribe to Channels</li>
              <li>Search Videos by Categories and Tags</li>
              <li>Watch History</li>
              <li>Update Profile Picture and Cover Photo</li>
              <li>Add Social Media Links</li>
              <li>Add Playlist</li>
          </ol>
        </div>
      </div>

      <div class="row" style="color: black; font-size: 20px;">
        <div class="col-md-7 offset-md-2">
          <p>Thank you for using the free version of Video Streaming Website developed in Node JS & Mongo DB.</p>

          <p>Complete script of this project is available for sale at $20 and it has a lot more features than this free version. You can pay using one of the following methods:</p>

          <ul>
            <li>Payoneer</li>
            <li>xoom.com (PayPal service)</li>
            <li>Remitly.com</li>
            <li>Wise.com</li>
            <li>Wire transfer</li>
          </ul>

          <p>Contact us with your preferred payment method:</p>
          <p>support@adnan-tech.com</p>
        </div>

      </div>

   </div>
</div>
<!-- /.container-fluid -->

<%- include ("includes/footer") %>
